{% extends 'Login/Base.html' %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
  
        <!-- Icon -->
        <div class="fadeIn first">
            <h1 style="font-family: 'Billabong', sans-serif;margin-top:15px;">InstaChat</h1>
        </div>
        {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" align="center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for message in messages %}
                    <div class="alert alert-{{ message.text }}">
                        <h5 style="font-size: 15px;">{{message}}</h5>
                    </div>
                {% endfor%}
            </div>
        {% endif %}
        <!-- Login Form -->
        <form  method='POST' action="{% url 'ResetPassword' %}">
            {% csrf_token %}
            <input type="password" id="newPassword" class="fadeIn second" name="newPassword" placeholder="New Password">
            <input type="password" id="reTypeNewPassword" class="fadeIn second" name="reTypeNewPassword" placeholder="Re-Type New Password">
            <a href="{% url 'Login' %}">
                <input  type="submit" class="fadeIn fourth" value="Reset">
            </a>
        </form>
  
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/OTP">Back</a>
        </div>
  
    </div>
</div>
{% endblock content %}
